div[data-rsbs-overlay] {
    max-width: 400px;
    border-radius: calc(var(--padding-md) * 2);
    box-shadow: var(--shadow) !important;
    background: var(--card-background);
    overflow: hidden;
    width: calc(100% - var(--padding-md));
    max-height: calc(100% - var(--padding-md) * 2);
    margin: 0 auto var(--padding-md);
    background: var(--color-white);
    box-shadow: var(--shadow);
}

div[data-rsbs-header] {
    padding: 0;
    box-shadow: none;
    z-index: 10;
}

div[data-rsbs-header]:before {
    z-index: 2;
}

div[data-rsbs-scroll]:before {
    content: "";
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background: -webkit-gradient(-180deg ,from(transparent),to(#fff));
    background: -webkit-linear-gradient(-180deg ,transparent,#fff);
    background: linear-gradient(-180deg,transparent,#fff);
} 

div[data-rsbs-scroll]:after {
    content: "";
    width: 100%;
    height: 32px;
    position: absolute;
    top: 68px;
    z-index: 2;
    background: -webkit-gradient(0deg ,from(transparent),to(#fff));
    background: -webkit-linear-gradient(0deg ,transparent,#fff);
    background: linear-gradient(0deg,transparent,#fff);
} 


.sheet {
    &__header {
        position: relative;
        background: var(--color-white);
        border-bottom-left-radius: calc(var(--padding-md) * 2);
        padding: 10px 0 0;
    }

    &__content {
        padding: var(--padding-sm) 0;
    }

    &__wrapper {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    &__icon {
        position: relative;
        display: flex;
        & svg {
            width: 20px;
            height: 20px;
            color: inherit;
        }
    }

    &__title {
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        margin-left: 10px;
    }

    &__description {
        font-size: 14px;
        font-weight: normal;
        line-height: calc(1.8 * 1em);
        font-family: 'Roboto', Arial, sans-serif;

        & p:not(:last-child),
        & span:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__background {
        position: absolute;
        right: -100px;
        top: 50%;
        transform: translateY(-50%);

        & svg {
            width: 200px;
            height: auto;
            stroke: var(--color-white);
            opacity: 0.1;
        }
    }
}